
@import "bootstrap/bootstrap.less";
@import 'font-awesome/font-awesome.less';
@import 'sidebar/sidebar.less';

h3 {
	.h3;
	margin-top: 0;
}

table {
	.table;
    border-top: none;
    border-bottom: none;
    background-color: #fff;

    .fit {
	    white-space: nowrap;
	}
	.expand {
	    width: 99%;
	}
}

.tab-list {
	.nav;
	.nav-tabs;
	.nav-justified;
}

.alert-error {
	.alert;
	.alert-danger;
}

.error {
	.has-error;
}

.errorMessage {
	.text-danger;
}

.form-control-small {
	.form-control;
	height: 26px;
}

.scroller-small {
    .scroller(200px);
}

.scroller-large {
    .scroller(300px);
}

// MIXINS

.scroller (@height) {
  max-height: @height;
  overflow-y: auto;
}

.shadow (@width: 4px) {
  border-width: 0 1px @width 1px;
}
