*,
*:after,
*::before {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body,
.content-container,
.pusher,
.content {
    height: 100%;
}

.pusher {
    .overflow-y:scroll;
}

.content {
    overflow-y: scroll;
    background: #eee;
}

.content,
.content-inner {
    position: relative;
    overflow-y: scroll;
}

.content-container {
    position: relative;
    overflow-y: scroll;
}

.main {
    overflow-y: scroll;
}

.pusher {
    position: relative;
    left: 0;
    z-index: 99;
    height: 100%;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}

.pusher::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    background: rgba(0,0,0,0.2);
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
    transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

.sidebar-open .pusher::after {
    width: 100%;
    height: 100%;
    opacity: 1;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    visibility: hidden;
    width: 250px;
    height: 100%;
    background-color: #333;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    overflow-y: auto;
}

.sidebar::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
    content: '';
    opacity: 1;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.sidebar ul li a {
    display: block;
    padding: 1rem 1rem 1rem 1.2rem;
    outline: none;
    box-shadow: inset 0 -1px rgba(0,0,0,0.2);
    color: #f3efe0;
    text-transform: uppercase;
    text-shadow: 0 0 1px rgba(255,255,255,0.1);
    -webkit-transition: background 0.3s, box-shadow 0.3s;
    transition: background 0.3s, box-shadow 0.3s;
}

.sidebar ul li:first-child a {
    box-shadow: inset 0 -1px rgba(0,0,0,0.2), inset 0 1px rgba(0,0,0,0.2);
}

.sidebar-open .sidebar::after {
    width: 0;
    height: 0;
    opacity: 0;
    -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
    transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

/* content style */

.sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Effect 12: Open door */

.st-effect-12.content-container {
    -webkit-perspective: 1500px;
    perspective: 1500px;
}

.st-effect-12 .pusher {
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.st-effect-12.sidebar-open .pusher {
    -webkit-transform: rotateY(-10deg);
    transform: rotateY(-10deg);
}

.st-effect-12.sidebar {
    opacity: 1;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

.st-effect-12.sidebar-open .st-effect-12.sidebar {
    visibility: visible;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.st-effect-12.sidebar::after {
    display: none;
}

/* Fallback example for browsers that don't support 3D transforms (and no JS fallback) */
.no-csstransforms3d .pusher,
.no-js .pusher {
    padding-left: 300px;
}

/**
 * Bootstrap changes
 */
.fava {
    font-size: 20px;
}

li a span {
    vertical-align: middle;
}

/* Sidebar Styles */
.sidebar-header {
    margin-top: 0px;
    text-transform: uppercase;
    line-height: 40px;
    font-size: 17px;
}

.sidebar-header:first-child a {
    box-shadow: inset 0 0px rgba(0,0,0,0.2), inset 0 0px rgba(0,0,0,0.2) !important;
}

.sidebar-header.alert-error {
    padding: 0;
    border: 0;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a .fa {
    margin-left: -20px;
    width: 40px;
    margin-right:10px;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}


.sidebar-nav-submenu li {
    text-indent: 53px;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

.sidebar-nav h3 {
    color: #fff;
}

.sidebar-nav h4 {
    color: #fff;
}

@media(max-width:768px) {

    .navbar {
        min-height: 40px;
    }

    ul.navbar-nav {
        margin: 0;
        display: inline-block;
    }

    .navbar-nav li {
        display: inline-block;
    }   
}
