.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    visibility: hidden;
    width: @sidebar-width;
    height: 100%;
    background-color: @sidebar-background-color;
    -webkit-transition: all @transition-speed-default;
    transition: all @transition-speed-default;
    overflow-y: scroll;
}

.sidebar::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
    content: '';
    opacity: 1;
    -webkit-transition: opacity @transition-speed-default;
    transition: opacity @transition-speed-default;
}

/* content style */

.sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar ul li a {
    display: block;
    padding: 1rem 1rem 1rem 1.2rem;
    outline: none;
    box-shadow: inset 0 -1px rgba(0,0,0,0.2);
    color: @sidebar-link-color;
    text-transform: uppercase;
    text-shadow: 0 0 1px rgba(255,255,255,0.1);
    -webkit-transition: background @link-transition-speed, box-shadow @link-transition-speed;
    transition: background @link-transition-speed, box-shadow @link-transition-speed;
}

.sidebar ul li:first-child a {
    box-shadow: inset 0 -1px rgba(0,0,0,0.2), inset 0 1px rgba(0,0,0,0.2);
}

.sidebar-open .pusher::after {
    width: 100%;
    height: 100%;
    opacity: 1;
    -webkit-transition: opacity @transition-speed-default;
    transition: opacity @transition-speed-default;
}

.sidebar-open .sidebar::after {
    width: 0;
    height: 0;
    opacity: 0;
    -webkit-transition: opacity @transition-speed-default, width 0.1s @transition-speed-default, height 0.1s @transition-speed-default;
    transition: opacity @transition-speed-default, width 0.1s @transition-speed-default, height 0.1s @transition-speed-default;
}