
// sidebar variables
@sidebar-width: 250px;
@sidebar-background-color: #333;
@sidebar-link-color: #f3efe0;
@regular-text-color: #fff;
@regular-text-transform: uppercase;
@regular-link-font-size: 15px;
@regular-font-sidebar-link-weight: 300;
@sidebar-line-height: 40px;
@font-awesome-font-size: 20px;

// transition variables
@transition-speed-default: 0.5s;
@link-transition-speed: 0.3s;
@transition-transformation-rotation: -10deg;
@transition-transformation-style: preserve-3d;