//
// Sticky Footer
// --------------------------------------------------

@footer-height: 60px;

html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: @footer-height;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: @footer-height;
	border-top: 1px solid @btn-default-border;
	background-color: #e7e7e7;
}

.footer > .container {
	margin-top: 20px;
	padding-right: 15px;
	padding-left: 15px;
}
